.grid-container {
    display: grid;
    grid-template-columns: repeat(auto, minmax(200px, 1fr));
    grid-template-rows: 40px auto;
}

.navbar {
    grid-column: 2 / 4;
    text-align: center;
}

.navbar a {
    padding: 10px 5px;
    list-style: none;
}

.navbar a:hover {
    text-transform: uppercase;
    text-shadow: goldenrod;
}

.main {
    grid-column: 1 / 5;
    border: 2px solid yellow;
}

.main h1 {
    text-align: center;
}

